@{
    ViewData["Title"] = "Success";
}
<!-- success page that is returned if user is successful in submitting their form -->
<div class="align-content-center">
    <h1>Success! Your entry has been submitted!</h1>

    <p>Enter another one?</p>

    <!-- fancy button to help them return back to the form -->
    <button><a href="Form">Return to Form</a></button>
</div>
